<html>
    <head>
       <h1>
            <span><b>Good Eats</b>
            </br>
            Your Online Community Cookbook</span>
        </h1>
         
    </head>
    <body>
    <div id="wrap">
        <div class = "left">
            <p>
            Our goal is to create an online community recipe cookbook. 
            It will allow for members of the community to publicly add 
            recipes to our cookbook and view recipes from other active
            "chefs" in our community. Happy Cooking :)
            </p>
            </br>
    
        <table class="rTable">
            <thead>
                <tr>
                    <th>Some of our Favorites</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recipe 1 Name (will be link)</td>
                </tr>
                <tr>
                    <td>Recipe 2 Name (will be link)</td>
                </tr>
                <tr>
                    <td>Recipe 3 Name (will be link)</td>
                </tr>
                <tr>
                    <td><%= link_to 'Want to view more Recipes?', controller: 'articles' %></td>
                </tr>
            </tbody>
        </table>
             
             
        </div>
        
        <div class = "right">
             <%= image_tag("burrito-chicken-close-up-461198.jpg")%>
             <h2>
                 Want to add your own Recipe?
                 </h2>
        <%= link_to 'Create a New Recipe', new_article_path %>
        </div>
    </div>
 </body>
</html>