<p>
    <h4>Author Name:</h4>
    <text><%= comment.commenter %></text>
</p>
<p>
    <h4>Comment:</h4>
    <text><%= comment.body %></text>
</p>

<h4>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
</h4>