<p>
    <h4>Author Name:</h4>
    <%= comment.commenter %>
</p>
<p>
    <h4>Comment:</h4>
    <%= comment.body %>
</p>

<p>
    <% link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
</p>