<p>
    <strong>Recipe Name:</strong>
    <%=@article.Recipe_Name %>
</p>

<p>
    <strong>Ingredients and Supplies:</strong>
    <%=@article.Ingredients_and_Supplies %>
</p>

<p>
    <strong>Directions:</strong>
    <%=@article.Directions %>
</p>

</br>
 <%= link_to 'Back To Recipe Book', articles_path %>