input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}


input[type=button], input[type=submit] {
    background-color: #4CAF50;
    float: right;
    border: 2px solid;
    color: dark green;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}