// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment
{
    border: 2px solid black;
    width: 40%;
    padding: 10px 20px;
    float: left;
}

.link
{
    float: left;
    clear: both;
}
