html
{
  background: linear-gradient(to right, #e14423 25%, #f2c08d 75%);
}
head
{
  height: 100%;
  width: 100%;
}
#wrap
{
  width: 100%;
  height: 100%;
}

.left
{
  width: 47%;
  height: 400px;
  float: left;
}
.right
{
  width: 47%;
  height: 400px;
  float: right;
}

p
{
  font-size: 24px;
}


h1 
{
  span { font-size: 24px;}
  span b { font-size: 40px; }
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #992946;
    text-align: center;
    font-size: 40px;
    color:  #59f75f;
    
}

h2
{
  font-size: 30px;
  color:  #59f75f;
}

a
{
  color: #1842e2; 
}

img
{
  width: 80%;
}

.food_image
{
  width: 47%;
  float: right;
}

.border
{
  width: 100%;
  padding: 41px 20px;
  border: 3px solid black;
}

.left_h2
{
  text-align: center;
}

table
{
  width: 100%;
  background-color: #992946;
}

.rTable
{
  margin: 30px;
}

table.rTable {
  border: 1px solid #1C6EA4;
  background-color: #D36481;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.rTable td, table.rTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.rTable tbody td {
  font-size: 13px;
}
table.rTable tr:nth-child(even) {
  background: #ECB1C1;
}
table.rTable thead {
  background: #992946;
  background: -moz-linear-gradient(top, #b25e74 0%, #a33e58 66%, #992946 100%);
  background: -webkit-linear-gradient(top, #b25e74 0%, #a33e58 66%, #992946 100%);
  background: linear-gradient(to bottom, #b25e74 0%, #a33e58 66%, #992946 100%);
  border-bottom: 2px solid #444444;
}
table.rTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center
}
