<p>
    <h2>Recipe Name:</h2>
    </br>
    Blueberry Scones with Lemon Glaze
</p>

<p>
    <h2>Ingredients and Supplies:</h2>
    </br>
    2 cups all-purpose flour
</br>
1 tablespoon baking powder
</br>
1/2 teaspoon salt
</br>
2 tablespoons sugar
</br>
5 tablespoons unsalted butter, cold, cut in chunks
</br>
1 cup fresh blueberries
</br>
1 cup heavy cream, plus more for brushing the scones
</br>
1/2 cup freshly squeezed lemon juice
</br>
2 cups confectioners' sugar, sifted
</br>
1 tablespoon unsalted butter
</br>
1 lemon, zest finely grated
</p>

<p>
    <h2>Directions:</h2>
    </br>
    Step 1: Preheat the oven to 400 degrees F.
    </br>
    </br>
    Step 2: Sift together the dry ingredients; the flour, baking powder, salt, and sugar. Using 2 forks or a pastry blender, cut in the butter to coat the pieces with the flour. The mixture should look like coarse crumbs. Fold the blueberries into the batter. Take care not to mash or bruise the blueberries because their strong color will bleed into the dough. Make a well in the center and pour in the heavy cream. Fold everything together just to incorporate; do not overwork the dough.
    </br>
    </br>
    Step 3: Press the dough out on a lightly floured surface into a rectangle about 12 by 3 by 1 1/4 inches. Cut the rectangle in 1/2 then cut the pieces in 1/2 again, giving you 4 (3-inch) squares. Cut the squares in 1/2 on a diagonal to give you the classic triangle shape. Place the scones on an ungreased cookie sheet and brush the tops with a little heavy cream. Bake for 15 to 20 minutes until beautiful and brown. Let the scones cool a bit before you apply the glaze.
    </br>
    </br>
    Step 4: You can make the lemon glaze in a double boiler, or for a simpler alternative, you can zap it in the microwave. Mix the lemon juice with the confectioners' until dissolved in a heatproof bowl over a pot of simmering water for the double-boiler method, or in a microwave-safe bowl. Whisk in the butter and lemon zest. Either nuke the glaze for 30 seconds or continue whisking in the double boiler. Whisk the glaze to smooth out any lumps, then drizzle the glaze over the top of the scones. Let it set a minute before serving.
</p>

</br>
 <%= link_to 'To Recipe Book', articles_path %>
 </br>
 <%= link_to 'Back to Main Page', welcome_index_path %>